/* Fonts */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotothin.woff2") format("woff2"), url("../fonts/Robotothin.woff") format("woff"), url("../fonts/Robotothin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotothinitalic.woff2") format("woff2"), url("../fonts/Robotothinitalic.woff") format("woff"), url("../fonts/Robotothinitalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotolight.woff2") format("woff2"), url("../fonts/Robotolight.woff") format("woff"), url("../fonts/Robotolight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotolightitalic.woff2") format("woff2"), url("../fonts/Robotolightitalic.woff") format("woff"), url("../fonts/Robotolightitalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotoitalic.woff2") format("woff2"), url("../fonts/Robotoitalic.woff") format("woff"), url("../fonts/Robotoitalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotomedium.woff2") format("woff2"), url("../fonts/Robotomedium.woff") format("woff"), url("../fonts/Robotomedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotomediumitalic.woff2") format("woff2"), url("../fonts/Robotomediumitalic.woff") format("woff"), url("../fonts/Robotomediumitalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff"), url("../fonts/Robotobold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotobolditalic.woff2") format("woff2"), url("../fonts/Robotobolditalic.woff") format("woff"), url("../fonts/Robotobolditalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotoblack.woff2") format("woff2"), url("../fonts/Robotoblack.woff") format("woff"), url("../fonts/Robotoblack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotoblackitalic.woff2") format("woff2"), url("../fonts/Robotoblackitalic.woff") format("woff"), url("../fonts/Robotoblackitalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik.woff2") format("woff2"), url("../fonts/Rubik.woff") format("woff"), url("../fonts/Rubik.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubikbold.woff2") format("woff2"), url("../fonts/Rubikbold.woff") format("woff"), url("../fonts/Rubikbold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


/* Icons */

@font-face {
    font-family: 'social_icons';
    src: url('../fonts/social_icons.eot');
    src: url('../fonts/social_icons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/social_icons.woff') format('woff'),
         url('../fonts/social_icons.ttf') format('truetype'),
         url('../fonts/social_icons.svg#social_icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'social_icons';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-vk:before{content:'\0041';}
.icon-instagram:before{content:'\0042';}
.icon-facebook:before{content:'\0043';}


/* Body */

body {
    margin: 0;
    font-family: "Roboto";
    font-size: 24px;
    color: #1B1B1B;
}

ul, p {
    margin: 0;
}

h1 {
    margin: 60px auto 30px;
    font-size: 64px;
}

h2 {
    font-size: 48px;
    margin: 60px auto 40px;
}


/* Header */

header {
    height: 90px;
    padding: 0px 40px;
    background: #FFFFFF;
}

.logo_link {
    position: absolute;
    top: 31px;
    font-family: "Rubik";
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

ul.menu li {
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;
}

.navbar_menu {
    position: absolute;
    top: 31px;
    right: 186px;
}

.navbar_link {
    font-size: 16px;
    text-decoration: none;
}

.button_login {
    position: absolute;
    top: 23px;
    right: 40px;
    margin-left: 25px;
    padding: 12px 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(27, 27, 27, 0.4);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.logo_link, .navbar_link, .button_login {
    color: #1B1B1B;
    transition: 0.3s;
}

.logo_link:hover, .navbar_link:hover {
    color: #88a6c3;
    /* text-shadow: 2px 2px 5px rgb(136, 166, 195, 0.2); */
}

.button_login:hover {
    color: #88a6c3;
    box-shadow: 2px 2px 5px rgb(136, 166, 195, 0.2);
    border-color: rgb(136, 166, 195, 0.4);
    transform: scale(1.02);
}


/* Main */

main {
    text-align: center;
}


/* About */

.about {
    padding: 80px 40px;
}

.text_main {
    width: 70%;
    margin: 0 auto;
}


/* Contacts */

.contacts {
    padding: 20px 40px 100px;
    background: #F7F9FB;
}

.contact_details { */
    position: relative;
}

.contacts_item {
    position: relative;
    display: inline-block;
    width: 264px;
    height: 56px;
    position: relative;
    margin: 0px 70px;
}

.vertical_separator {
    position: absolute;
    display: inline-block;
    width: 1px;
    min-width: 1px;
    height: 62px;
    background: #C8C8CF;
}

.contact_type {
    display: block;
    position: relative;
    color: #4F4F4F;
    font-size: 14px;
    line-height: 21px;
}

.contact_info {
    display: block;
    position: relative;
    top: 6px;
    color: #000000;
    font-size: 20px;
    margin-top: 6px;
    line-height: 29px;
}


/* Team */

.team {
    padding: 20px 0 75px;
}

.team_display {
    width: 80%;
    margin: 0 auto;
}

.team_member {
    display: inline-block;
    margin: 15px 40px 45px;
}

.team_photo {
    border-radius: 50%;
}

.name {
    font-size: 20px;
    line-height: 29px;
    margin-top: 23px;
}

.role {
    font-size: 14px;
    line-height: 21px;
    color: #828282;
    margin-top: 8px;
}


/* Footer */

footer {
    position: relative;
    height: 124px;
    padding: 0 40px;
    background: #3F3D56;
}

.copyright {
    position: absolute;
    top: 53px;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 40%;
}

.social_bar {
    position: absolute;
    top: 48px;
    right: 30px;
}

ul.menu_social li {
    padding: 0 10px;
}

.social_link {
    color: #FFFFFF;
    font-size: 26px;
}

.social_link:hover {
    color: #88a6c3;
}