@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotothin.woff2") format("woff2"), url("../fonts/Robotothin.woff") format("woff"), url("../fonts/Robotothin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotothinitalic.woff2") format("woff2"), url("../fonts/Robotothinitalic.woff") format("woff"), url("../fonts/Robotothinitalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotolight.woff2") format("woff2"), url("../fonts/Robotolight.woff") format("woff"), url("../fonts/Robotolight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotolightitalic.woff2") format("woff2"), url("../fonts/Robotolightitalic.woff") format("woff"), url("../fonts/Robotolightitalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotoitalic.woff2") format("woff2"), url("../fonts/Robotoitalic.woff") format("woff"), url("../fonts/Robotoitalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotomedium.woff2") format("woff2"), url("../fonts/Robotomedium.woff") format("woff"), url("../fonts/Robotomedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotomediumitalic.woff2") format("woff2"), url("../fonts/Robotomediumitalic.woff") format("woff"), url("../fonts/Robotomediumitalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff"), url("../fonts/Robotobold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotobolditalic.woff2") format("woff2"), url("../fonts/Robotobolditalic.woff") format("woff"), url("../fonts/Robotobolditalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotoblack.woff2") format("woff2"), url("../fonts/Robotoblack.woff") format("woff"), url("../fonts/Robotoblack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotoblackitalic.woff2") format("woff2"), url("../fonts/Robotoblackitalic.woff") format("woff"), url("../fonts/Robotoblackitalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik.woff2") format("woff2"), url("../fonts/Rubik.woff") format("woff"), url("../fonts/Rubik.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubikbold.woff2") format("woff2"), url("../fonts/Rubikbold.woff") format("woff"), url("../fonts/Rubikbold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Roboto";
    margin: 40px;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

main {
    text-align: center;
}

footer {
    background: #3F3D56;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 40px;
}

.logo_link {
    color: #1B1B1B;
    font-family: "Rubik";
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

.navbar {
    display: flex;
    align-items: baseline;    
}

ul.menu li {
    list-style-type: none;
    display: inline;
}

.navbar_link {
    margin: 5px 15px;
    font-size: 16px;
    text-decoration: none;
    color: #1B1B1B;
}

.button_login {
    font-size: 16px;
    margin-left: 40px;
    padding: 5px 15px;
    background-color: white;
    border-color: #1B1B1B;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    opacity: 40%;
}

#about {
    padding: 80px;
}

h1 {
    margin-top: 60px;
    font-size: 64px;
}

.text_main {
    font-size: 24px;
    width: 70%;
    margin: auto;
}

h2 {
    font-size: 48px;
}

#contacts {
    background: #F7F9FB;
    padding: 80px;
}

.contact_details {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.contacts_item {
    margin: 40px 70px;
}

.contact_type {
    color: #4F4F4F;
    font-size: 14px;
}

.contact_info {
    color: #000000;
    font-size: 20px;
}

.team {
    width: 80%;
    margin: 80px auto 120px;
}

.team_member {
    display: inline-block;
    margin: 50px 40px 5px;
    text-align: center;
}

.name {
    font-size: 20px;
}
.role {
    font-size: 14px;
    color: #828282;
}

.copyright {
    color: #FFFFFF;
    opacity: 40%;
}